
<form #registeredNgForm="ngForm" (ngSubmit)="delete()" autocomplete="off">
    <h3 class="text-center text-primary">Delete Contact Details</h3>
    <hr>
    <div class="form-group">
        <label class="form-control">{{deleteContact.FirstName}}</label>        
    </div>   
    <div class="form-group">
        <label class="form-control">{{deleteContact.LastName}}</label>        
    </div>  
    <div class="form-group">
        <label class="form-control">{{deleteContact.Email}}</label>        
    </div>  
    <div class="form-group">
        <label class="form-control">{{deleteContact.PhoneNumber}}</label>        
    </div>  
    <div class="form-group">
        <label class="form-control">{{deleteContact.Status}}</label>        
    </div>  
  
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit" >Delete</button>
        <button class="btn btn-default" style="padding-left: 15px;" type="button" (click)="cancel()" >Cancel</button> 
    </div>

</form>