<div  class="container mt-5">
    <div style="text-align: center;">
       <h4>Vijay Sonune</h4>
       <p class="lead">Overall, 4.3 year of experience in .Net Full Stack Development. Expertise in Analyzing, Designing, Developing and Deploying services with extensive experience in Microsoft Visual Studio environment using C#, .Net Framework along with SQL and Front-End Technologies. Currently working in Zensar Technologies Pvt Ltd, Pune since 2016.</p>       
      
   </div>      
   
   </div>
